In [5]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\user\anaconda3\lib\site-packages (0.1.72)
Requirement already satisfied: pandas>=0.24.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)

In [7]:
!pip install --upgrade pandas
!pip install --upgrade pandas_datareader

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Collecting pandas
  Downloading pandas-1.4.3-cp39-cp39-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.2
    Uninstalling pandas-1.4.2:
      Successfully uninstalled pandas-1.4.2

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\user\\anaconda3\\Lib\\site-packages\\~andas\\_libs\\algos.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (1.4.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [123]:
import numpy as np
import pandas as pd
import yfinance as yfin
from pandas_datareader import data

yfin.pdr_override()
df = data.get_data_yahoo('005930.KS', start = '2020-01-01', end = '2021-06-30')

[*********************100%***********************]  1 of 1 completed

In [124]:
# 1. 데이터프레임(df)의 평균, 표준편차, 사분위수 등 주요 통계 지표를 확인하세요.
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,370.000000,370.000000,370.000000,370.000000,370.000000,3.700000e+02
mean,65639.189189,66355.405405,64967.702703,65630.270270,62944.759132,2.168739e+07
std,13451.849467,13561.427465,13423.609681,13463.768099,14038.466543,9.734931e+06
min,42600.000000,43550.000000,42300.000000,42500.000000,39695.617188,0.000000e+00
25%,54825.000000,55525.000000,54225.000000,54750.000000,51582.190430,1.533896e+07
50%,60300.000000,60700.000000,59600.000000,60050.000000,56746.626953,1.903267e+07
75%,81175.000000,81900.000000,80800.000000,81200.000000,79616.871094,2.528365e+07
max,90300.000000,96800.000000,89500.000000,91000.000000,88908.171875,9.030618e+07

In [125]:
# 2. 종가('Close') 기준 최대값을 구하세요.
#   종가('Close') 기준 최소값을 구하세요.
#   종가('Close') 기준 평균값을 구하세요.
df['Close'].max()

91000.0

In [126]:
df['Close'].min()

42500.0

In [127]:
df['Close'].mean()

65630.27027027027

In [128]:
# 3. 총 데이터의 개수(row의 개수)를 확인해 보세요.
len(df)

370

In [129]:
# 4. 특정 컬럼만 선택해 보세요(예: ‘Close’ 컬럼만 선택, ‘Higt’와 ‘Low’ 두 개의 컬럼 선택)
df['Close']

Date
2020-01-02    55200.0
2020-01-03    55500.0
2020-01-06    55500.0
2020-01-07    55800.0
2020-01-08    56800.0
               ...
2021-06-23    80100.0
2021-06-24    81200.0
2021-06-25    81600.0
2021-06-28    81900.0
2021-06-29    81000.0
Name: Close, Length: 370, dtype: float64

In [90]:
df[['High','Low']]

               High      Low
Date
2020-01-02  56000.0  55000.0
2020-01-03  56600.0  54900.0
2020-01-06  55600.0  54600.0
2020-01-07  56400.0  55600.0
2020-01-08  57400.0  55900.0
...             ...      ...
2021-06-23  80600.0  79900.0
2021-06-24  81400.0  80100.0
2021-06-25  81900.0  81200.0
2021-06-28  82000.0  81600.0
2021-06-29  82100.0  80800.0

[370 rows x 2 columns]

In [91]:
# 5. 상위 3개의 로우만 선택해 보세요.
df[0:3]

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.593750  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.800781  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951

In [92]:
# 6. 시작가('Open') 대비 종가('Close')가 높았던 날의 데이터만 선택하세요.
df[df['Open'] < df['Close']]

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.023438  23501171
2020-01-09  58400.0  58600.0  57400.0  58600.0  54733.250000  24102579
2020-01-10  58800.0  59700.0  58300.0  59500.0  55573.859375  16000170
...             ...      ...      ...      ...           ...       ...
2021-06-16  81500.0  81900.0  81100.0  81800.0  80274.796875  14999855
2021-06-21  79700.0  80000.0  79600.0  79900.0  78410.218750  16063340
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.523438  13481405
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.937500  11578529

[166 rows x 6 columns]

In [93]:
# 7. 종가('Close') 기준 가장 주가가 높았던 날의 데이터(로우)를 선택하세요.
df[df['Close'] == max(df['Close'])]

               Open     High      Low    Close     Adj Close    Volume
Date
2021-01-11  90000.0  96800.0  89500.0  91000.0  88908.179688  90306177

In [94]:
# 8. 종가('Close') 기준 주가가 90,000원 이상이었던 날짜를 반환하세요.
df[df['Close'] >= 90000]

               Open     High      Low    Close     Adj Close    Volume
Date
2021-01-11  90000.0  96800.0  89500.0  91000.0  88908.179688  90306177
2021-01-12  90300.0  91400.0  87800.0  90600.0  88517.367188  48682416

In [95]:
# 9. 2021년 1월 15일의 데이터를 반환하세요.
df.loc['2021-01-15'].astype(int)

Open            89800
High            91800
Low             88000
Close           88000
Adj Close       85977
Volume       33431809
Name: 2021-01-15 00:00:00, dtype: int32

In [96]:
# 10. 2021년 1월 11일의 고가('High')와 저가('Low') 값을 반환하세요.
df.loc['2021-01-11'][['High','Low']]

High    96800.0
Low     89500.0
Name: 2021-01-11 00:00:00, dtype: float64

In [97]:
# 11. 데이터프레임(df)의 100번째 데이터를 선택하세요.
df.iloc[100].astype(int)

Open            50000
High            50700
Low             49700
Close           50700
Adj Close       47704
Volume       27596961
Name: 2020-05-29 00:00:00, dtype: int32

In [98]:
# 12. 데이터를 날짜 역순으로(최신 데이터가 위에 위치하도록) 정렬하세요.
df.sort_index(ascending = False)

               Open     High      Low    Close     Adj Close    Volume
Date
2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.640625  15744317
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.937500  11578529
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.523438  13481405
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080
2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.484375  13856548
...             ...      ...      ...      ...           ...       ...
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.023438  23501171
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.800781  15422255
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.593750  12993228

[370 rows x 6 columns]

In [99]:
# 13. 종가('Close') 데이터를 가격이 높은 순서대로 정렬하세요.
df['Close'].sort_values(ascending=False)

Date
2021-01-11    91000.0
2021-01-12    90600.0
2021-01-14    89700.0
2021-01-13    89700.0
2021-01-25    89400.0
               ...
2020-04-01    45800.0
2020-03-18    45600.0
2020-03-20    45400.0
2020-03-19    42950.0
2020-03-23    42500.0
Name: Close, Length: 370, dtype: float64

In [130]:
# 14. 인덱스 컬럼을 0부터 순차적으로 증가하는 정수로 변경하세요.
df['Date'] = df.index
df

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,2020-01-02
2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.796875,15422255,2020-01-03
2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.796875,10278951,2020-01-06
2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,2020-01-07
2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,2020-01-08
...,...,...,...,...,...,...,...
2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.484375,13856548,2021-06-23
2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,2021-06-24
2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,2021-06-25
2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,2021-06-28
2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,2021-06-29

In [101]:
# 15. 컬럼명을 Date는 ‘날짜’로, ‘High’는 ‘고가’로, ‘Low’는 ‘저가’로 변경하세요.
df.rename(columns = {'Date' : '날짜', 'High' : '고가', 'Low' : '저가'})

,Open,고가,저가,Close,Adj Close,Volume,날짜
Date,,,,,,,
2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,2020-01-02
2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.800781,15422255,2020-01-03
2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.800781,10278951,2020-01-06
2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,2020-01-07
2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.023438,23501171,2020-01-08
...,...,...,...,...,...,...,...
2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.484375,13856548,2021-06-23
2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,2021-06-24
2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.523438,13481405,2021-06-25
2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.937500,11578529,2021-06-28
2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.640625,15744317,2021-06-29

In [105]:
# 16. 날짜(‘Date’) 컬럼을 삭제하세요.
df.drop(columns=['Date'], inplace = True)

In [107]:
# 17. 'diff' 컬럼을 생성하고, 종가(‘Close)와 시가(‘Open’)의 차이를 계산하여 채워주세요.
df['diff'] = df['Close'] - df['Open']
df

               Open     High      Low    Close     Adj Close    Volume   diff
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  51557.593750  12993228 -300.0
2020-01-03  56000.0  56600.0  54900.0  55500.0  51837.800781  15422255 -500.0
2020-01-06  54900.0  55600.0  54600.0  55500.0  51837.800781  10278951  600.0
2020-01-07  55700.0  56400.0  55600.0  55800.0  52118.003906  10009778  100.0
2020-01-08  56200.0  57400.0  55900.0  56800.0  53052.023438  23501171  600.0
...             ...      ...      ...      ...           ...       ...    ...
2021-06-23  80500.0  80600.0  79900.0  80100.0  78606.484375  13856548 -400.0
2021-06-24  80400.0  81400.0  80100.0  81200.0  79685.976562  18771080  800.0
2021-06-25  81500.0  81900.0  81200.0  81600.0  80078.523438  13481405  100.0
2021-06-28  81700.0  82000.0  81600.0  81900.0  80372.937500  11578529  200.0
2021-06-29  81900.0  82100.0  80800.0  81000.0  79841.640625  15744317 -900.0

[370 rows x 7 columns]

In [131]:
# 18.'Date' 필드에 저장된 값을 파싱하여 'Year', 'Month', 'Day' 필드에 저장하세요.
df['Year'] = [d.year for d in df['Date']]
df['Month'] = [d.month for d in df['Date']]
df['Day'] = [d.day for d in df['Date']]
df

,Open,High,Low,Close,Adj Close,Volume,Date,Year,Month,Day
Date,,,,,,,,,,
2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,2020-01-02,2020,1,2
2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.796875,15422255,2020-01-03,2020,1,3
2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.796875,10278951,2020-01-06,2020,1,6
2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,2020-01-07,2020,1,7
2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,2020-01-08,2020,1,8
...,...,...,...,...,...,...,...,...,...,...
2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.484375,13856548,2021-06-23,2021,6,23
2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,2021-06-24,2021,6,24
2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,2021-06-25,2021,6,25
2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,2021-06-28,2021,6,28
2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,2021-06-29,2021,6,29

In [118]:
# 19. 모든 데이터를 소수점 둘째자리까지 표시하세요.
format = lambda x: '%.2f' % x
df.applymap(format)

                Open      High       Low     Close Adj Close       Volume
Date
2020-01-02  55500.00  56000.00  55000.00  55200.00  51557.60  12993228.00
2020-01-03  56000.00  56600.00  54900.00  55500.00  51837.80  15422255.00
2020-01-06  54900.00  55600.00  54600.00  55500.00  51837.80  10278951.00
2020-01-07  55700.00  56400.00  55600.00  55800.00  52118.00  10009778.00
2020-01-08  56200.00  57400.00  55900.00  56800.00  53052.02  23501171.00
...              ...       ...       ...       ...       ...          ...
2021-06-23  80500.00  80600.00  79900.00  80100.00  78606.48  13856548.00
2021-06-24  80400.00  81400.00  80100.00  81200.00  79685.98  18771080.00
2021-06-25  81500.00  81900.00  81200.00  81600.00  80078.52  13481405.00
2021-06-28  81700.00  82000.00  81600.00  81900.00  80372.92  11578529.00
2021-06-29  81900.00  82100.00  80800.00  81000.00  79841.63  15744317.00

[370 rows x 6 columns]

In [120]:
# 20. 거래량 필드를 생성하고 세 자리수마다 콤마(,)가 들어가도록 변경하세요(예: 16949183-> 16,949,183)
df['거래량'] = df['Volume'].apply(lambda x : "{:,}".format(x))
df

,Open,High,Low,Close,Adj Close,Volume,거래량
Date,,,,,,,
2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.597656,12993228,"12,993,228"
2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.800781,15422255,"15,422,255"
2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.800781,10278951,"10,278,951"
2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,"10,009,778"
2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.023438,23501171,"23,501,171"
...,...,...,...,...,...,...,...
2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.484375,13856548,"13,856,548"
2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.984375,18771080,"18,771,080"
2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.523438,13481405,"13,481,405"
2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.921875,11578529,"11,578,529"
2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,"15,744,317"

In [132]:
# 21. 주가 데이터를 월(“Month’)별로 그룹핑하고, 거래량(‘Volume’)의 평균값을 표시하세요.
df['Volume'].groupby(df['Month']).mean()

Month
1     2.713407e+07
2     2.086738e+07
3     2.649870e+07
4     1.897715e+07
5     1.911778e+07
6     1.947093e+07
7     1.901368e+07
8     2.008490e+07
9     2.030011e+07
10    1.723988e+07
11    2.363959e+07
12    2.523804e+07
Name: Volume, dtype: float64

In [133]:
#22. 결측치가 있는지 확인하고, 결측치가 있을 경우 결측치를 처리하세요.
#결측치 확인
df.isnull().sum()

#결측치 삭제
df.dropna() 

#결측치가 있는 경우 값 치환
df.fillna({'High': 90000, 'Low': 50000})

,Open,High,Low,Close,Adj Close,Volume,Date,Year,Month,Day
Date,,,,,,,,,,
2020-01-02,55500.0,56000.0,55000.0,55200.0,51557.593750,12993228,2020-01-02,2020,1,2
2020-01-03,56000.0,56600.0,54900.0,55500.0,51837.796875,15422255,2020-01-03,2020,1,3
2020-01-06,54900.0,55600.0,54600.0,55500.0,51837.796875,10278951,2020-01-06,2020,1,6
2020-01-07,55700.0,56400.0,55600.0,55800.0,52118.003906,10009778,2020-01-07,2020,1,7
2020-01-08,56200.0,57400.0,55900.0,56800.0,53052.019531,23501171,2020-01-08,2020,1,8
...,...,...,...,...,...,...,...,...,...,...
2021-06-23,80500.0,80600.0,79900.0,80100.0,78606.484375,13856548,2021-06-23,2021,6,23
2021-06-24,80400.0,81400.0,80100.0,81200.0,79685.976562,18771080,2021-06-24,2021,6,24
2021-06-25,81500.0,81900.0,81200.0,81600.0,80078.531250,13481405,2021-06-25,2021,6,25
2021-06-28,81700.0,82000.0,81600.0,81900.0,80372.929688,11578529,2021-06-28,2021,6,28
2021-06-29,81900.0,82100.0,80800.0,81000.0,79841.632812,15744317,2021-06-29,2021,6,29

In [134]:
# 23. 12월의 데이터와 11월의 데이터를 별도의 데이터프레임(dec_df, nov_df)으로 만들고 
#     두 데이터프레임을 하나의 데이터프레임으로 이어 붙이세요.
dec_df = df[df['Month']==12]
nov_df = df[df['Month']==11]

nov_dec_df = pd.concat([nov_df, dec_df])

In [135]:
nov_dec_df

,Open,High,Low,Close,Adj Close,Volume,Date,Year,Month,Day
Date,,,,,,,,,,
2020-11-02,56400.0,57500.0,56000.0,57400.0,54703.824219,20489076,2020-11-02,2020,11,2
2020-11-03,57900.0,58900.0,57600.0,58800.0,56038.062500,14950919,2020-11-03,2020,11,3
2020-11-04,58900.0,59000.0,57800.0,58500.0,55752.152344,21718561,2020-11-04,2020,11,4
2020-11-05,59000.0,60300.0,58800.0,60300.0,57467.601562,20639475,2020-11-05,2020,11,5
2020-11-06,60700.0,60800.0,59600.0,60100.0,57276.996094,16910230,2020-11-06,2020,11,6
2020-11-09,60700.0,60900.0,60100.0,60200.0,57372.304688,15892961,2020-11-09,2020,11,9
2020-11-10,60500.0,60500.0,59500.0,60200.0,57372.304688,19073552,2020-11-10,2020,11,10
2020-11-11,60700.0,61400.0,60400.0,61300.0,58420.640625,25628510,2020-11-11,2020,11,11
2020-11-12,61000.0,61400.0,60700.0,61000.0,58134.722656,19800573,2020-11-12,2020,11,12
2020-11-13,61300.0,63200.0,61000.0,63200.0,60231.390625,31508829,2020-11-13,2020,11,13
2020-11-16,64000.0,66700.0,63900.0,66300.0,63185.777344,36354334,2020-11-16,2020,11,16
2020-11-17,67000.0,67000.0,65600.0,65700.0,62613.957031,30204089,2020-11-17,2020,11,17
2020-11-18,65700.0,66200.0,64700.0,64800.0,61756.230469,22963790,2020-11-18,2020,11,18
2020-11-19,64100.0,64800.0,63900.0,64600.0,61565.625000,16590290,2020-11-19,2020,11,19
2020-11-20,63900.0,65200.0,63900.0,64700.0,61660.929688,15068682,2020-11-20,2020,11,20
2020-11-23,64800.0,67800.0,64700.0,67500.0,64329.406250,27134398,2020-11-23,2020,11,23
2020-11-24,67900.0,69500.0,67000.0,67700.0,64520.011719,32158235,2020-11-24,2020,11,24
2020-11-25,67900.0,68300.0,66500.0,66600.0,63471.687500,32447065,2020-11-25,2020,11,25
2020-11-26,66100.0,68000.0,66000.0,68000.0,64805.925781,19023323,2020-11-26,2020,11,26
2020-11-27,68000.0,68400.0,67600.0,68200.0,64996.523438,14063434,2020-11-27,2020,11,27
2020-11-30,68400.0,68600.0,66700.0,66700.0,63566.984375,43811016,2020-11-30,2020,11,30
2020-12-01,67100.0,68300.0,67100.0,67800.0,64615.320312,22327173,2020-12-01,2020,12,1
2020-12-02,68400.0,69900.0,68300.0,69500.0,66235.468750,29703942,2020-12-02,2020,12,2
2020-12-03,70100.0,70500.0,69300.0,69700.0,66426.062500,23677989,2020-12-03,2020,12,3
2020-12-04,70400.0,72100.0,70100.0,71500.0,68141.523438,28130533,2020-12-04,2020,12,4
2020-12-07,72400.0,73500.0,71900.0,72900.0,69475.765625,28490496,2020-12-07,2020,12,7
2020-12-08,72200.0,72900.0,71600.0,71700.0,68332.132812,25000338,2020-12-08,2020,12,8
2020-12-09,72100.0,73900.0,72000.0,73900.0,70428.804688,24077996,2020-12-09,2020,12,9
2020-12-10,72700.0,73800.0,72500.0,72900.0,69475.765625,39882928,2020-12-10,2020,12,10
2020-12-11,73500.0,73800.0,73100.0,73400.0,69952.273438,18486672,2020-12-11,2020,12,11
2020-12-14,73600.0,74500.0,73200.0,73800.0,70333.484375,21510415,2020-12-14,2020,12,14
2020-12-15,73800.0,74100.0,73300.0,73800.0,70333.484375,20863671,2020-12-15,2020,12,15
2020-12-16,74100.0,74500.0,73400.0,73800.0,70333.484375,17512081,2020-12-16,2020,12,16
2020-12-17,73400.0,73700.0,72600.0,73300.0,69856.976562,24293214,2020-12-17,2020,12,17
2020-12-18,73300.0,73700.0,73000.0,73000.0,69571.062500,17613029,2020-12-18,2020,12,18
2020-12-21,73100.0,73400.0,72000.0,73000.0,69571.062500,20367355,2020-12-21,2020,12,21
2020-12-22,72500.0,73200.0,72100.0,72300.0,68903.953125,16304910,2020-12-22,2020,12,22
2020-12-23,72400.0,74000.0,72300.0,73900.0,70428.804688,19411326,2020-12-23,2020,12,23
2020-12-24,74100.0,78800.0,74000.0,77800.0,74145.601562,32502870,2020-12-24,2020,12,24
2020-12-28,79000.0,80100.0,78200.0,78700.0,75003.328125,40085044,2020-12-28,2020,12,28
2020-12-29,78800.0,78900.0,77300.0,78300.0,76500.109375,30339449,2020-12-29,2020,12,29
2020-12-30,77400.0,81300.0,77300.0,81000.0,79138.046875,29417421,2020-12-30,2020,12,30